<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GDSSTEMPLATE.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="GDSSTEMPLATE.My.MySettings.gdssConnectionString" connectionString="DATA SOURCE=192.6.250.31:1521/gdss;PASSWORD=team;PERSIST SECURITY INFO=True;USER ID=TEAM"
            providerName="Oracle.ManagedDataAccess.Client" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <GDSSTEMPLATE.My.MySettings>
            <setting name="cstring" serializeAs="String">
                <value>DATA SOURCE=SRV:1521/gdss;PASSWORD=password;PERSIST SECURITY INFO=True;USER ID=username</value>
            </setting>
            <setting name="servip" serializeAs="String">
                <value>gdss;192.6.250.1;scrt;192.6.250.2</value>
            </setting>
            <setting name="autoserv" serializeAs="String">
                <value>gdss</value>
            </setting>
        </GDSSTEMPLATE.My.MySettings>
    </userSettings>
</configuration>